extends layout

block content
   .container
    a(href="/")="Home"
    hr
    h1 Hello on web
    if (vektor)
        p rad privetstvovat
        input(id="file",type="file",name="file",multiple)
    if (!vektor)
        p hfe takum byt
    if (files)
        for file in files
            br
            if(vektor)
                a(href=`/web/${file}`)=file
            else 
                p=file
    script(src='/js/web.js')